/* * {
    border: 1px solid red;
} */

html {
	box-sizing: border-box;
}

body {
    margin: 100px 200px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
	color: inherit;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.block {
    margin: 2rem 0;
}

/* ##### HEADER ##### */
header {
    display: flex;
    flex: row;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-text {
    margin-left: 1rem;
	text-align: end;
}

.logo-text a {
    font-size: 1.15rem;
	font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.header-menu ul {
    display: flex;
    flex-flow: row;
    align-items:center;
    justify-content: flex-end;
}

.header-menu ul {
    gap: 2rem;
}

.header-menu ul li, button{
    display: inline-block;
	font-size: 0.9rem;
	font-weight: 600;
}

.menu-list {
    transition: color 0.1s ease-in-out;
}

.menu-list:hover {
    color: #0071d4;
}

.discover {
	margin: auto;
	width: 7rem;
	height: 3rem;
	border-radius: 40px;
	border: none;
	background-color: #0071d41a;
	color: #0071d4;
	transition: box-shadow 0.2s ease-in-out;
}

.discover:hover {
	box-shadow: 0px 0px 5px 0px rgba(0, 113, 212, 0.5),
				0px 0px 5px 0px rgba(0, 113, 212, 0.25);
}

/* ##### MAIN SECTIONS ##### */

.section-one {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
}

.section-one div {
    flex: 1;
    margin: 0;
}

.section-one a {
	position: absolute;
	font-size: 0.85rem;
	font-weight: 600;
	color: #0071d4;
	transition: all 0.2s ease-in-out;
}

.section-one a:hover {
	transform: translateX(4px);
}

.section-one i {
	padding-left: 15px;
	color: #0071d4;
}

.intro {
    padding-right: 2rem;
}

.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one img {
    width: 100%;
    border-radius: 2px;
}

.section-two {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}

.container {
    display: flex;
    flex-flow: column;  
    justify-content: space-around;
    gap: 16px;
    padding: 0 16px;
}

.section-three {
    text-align: center;
}

.section-four {
    
}

.blue-section {
    display: flex;
    flex: column;
}

.blue-section div {
    flex: 1;
}

footer {
    text-align: center;
}